<a class="pointer" data-dismiss="modal">
    <div class="alert alert-success text-center">
        <h4 class="header-margins">Your changes have successfully been saved!</h4>
        <p>Click me to close me!</p>
    </div>
</a>