@if (User.Identity.IsAuthenticated)
{
    <li><a href="@Url.Action("Create","Quiz")">Create Quiz</a></li>
    <li><a href="@Url.Action("MyQuizzes","Quiz")">My Quizzes</a></li>
    <li><a href="@Url.Action("Index","QuestionPool")">My Questions</a></li>
    //<li><a href="@Url.Action("MyQuestions","QuestionStore")">My Questions</a></li>
}
