body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.margin-top-15 {
    margin-top: 15px
}

.margin-bottom-15 {
    margin-top: 15px
}

.margin-left-15 {
    margin-top: 15px
}

.margin-right-15 {
    margin-top: 15px
}

.margin-15 {
    margin: 15px;
}

.padding-15 {
    padding: 15px;
}

.box-shadow-4dp {
    box-shadow: 0 0 4px gray;
}
