@using HtmlHelpers.BeginCollectionItem
@using Quizzard.Web.Models
@model Mohawk.Jakab.Quizzard.Services.Models.QuizSubmissionAnswerModel
@using (Html.BeginCollectionItem("Answers"))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>@Model.Question.QuestionText</div>
            <div>@Html.TextBoxFor(x => x.UserAnswer, new{@class="form-control"})</div>
        </div>
    </div>
}

