@model Mohawk.Jakab.Quizzard.Web.Models.SecurityQuestionViewModel

@{
    ViewBag.Title = "Enter your security question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ConfirmSecurityQuestion", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 box-shadow-4dp">
        <div class="col-md-12 margin-top-15">
            @Html.DisplayTextFor(m => m.User.SecurityQuestion)
        </div>
        <div class="col-md-12 margin-top-15">
            @Html.LabelFor(m => m.SecurityAnswer, new { @class = "control-label" })
        </div>
        <div class="col-md-12 margin-top-15">
            @Html.TextBoxFor(m => m.SecurityAnswer, new{@class="form-control"})
        </div>
        <div class="col-md-12 margin-top-15">
            <button class="btn btn-info">Submit</button>
        </div>
    </div>
}