* {
    border-radius: 0px !important;
}

body {
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

.render-body {
    min-height: 800px !important;
}

.header-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


.pointer{ 
    cursor: pointer !important;
    text-decoration: none !important;
    text-underline: none !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.content-middle {
    display: table-cell;
    vertical-align: middle;
}

.quiz-card {
    min-height: 200px;
    height: auto;
    border: 1px solid;
    box-shadow: 1px 1px 1px gray;
    font-size: 1.25em;
    margin: 7.5px 7.5px;
}

.quiz-card-content {
    margin: 5px;
    min-height: 200px;
    height: auto;
}

.quiz-card-tag {
    width: auto;
    margin-top: -25px;
    height: 25px;
}

.quiz-card-button {
    text-align: center;
}

.quiz-card > p {
    overflow-x: auto;
}

.description-small {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}

.question-play {
    font-size: 1.25em;
}

.question-component {
    margin: 5px 0;
}

.width-100 {
    width: 100%;
}
.height-100 {
    min-height: 100% !important;
    height: 100% !important;
}

.nav-component {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.scrollbox {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    min-height: 400px;
    background-color: #eee;
    box-shadow: 0px 3px 3px 1px lightgray;
}
.scrollbox-item {
    padding: 10px !important;
}


.scrollbox-header {
    padding: 10px !important;
    border-bottom: 2px solid darkgray;
}
.scrollbox-item + .scrollbox-item {
    border-top: 1px solid gray;
}
.dropdown-menu > a {
    line-height: 1.5em;
}

.no-horizontal-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.s-padding {
    padding: 5%;  
}
.text-lg {
    font-size: 1.25em;
}
.row {
    padding-left: 15px;
    padding-right: 15px;
}

.pad-top-15 {
    padding-top: 15px;
}
.form-control-checkbox {
    width: 24px !important;
    height: 24px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.question-card {
    border: 1px solid #aaa;
    box-shadow: 0px 3px 3px 1px lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}


.checkbox-text {
    height: 34px;
    padding-left: 6px;
    vertical-align: middle;
}

.inline {
    display: inline-block;
}


.alert-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding:15px;
    z-index: 999;
    margin: 0;
}

.alert-dismissible {
    cursor: pointer;
}

[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.alert-bottom {
    position: fixed;
    width: 100%;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.alert-bottom-padding {
    height:50px;
}

.store-choice {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 4px;
    box-shadow: 3px 3px lightgray;
}

.row {
    margin-top:5px;
}

.question-card {
    padding-left: 15px;
}

.mlr-5 {
    margin-left:5px;
    margin-right:5px;
}
