@using Mohawk.Jakab.Quizzard.Domain.Entities
@model List<Mohawk.Jakab.Quizzard.Services.Models.QuestionModel>
@if (Model.Any())
{
    foreach (var question in Model)
    {
        { Html.RenderPartial("DraftQuestionView", question); }
    }


    <script>
        $(document).ready(function() {
            $("[data-edit-question]").click(function () {
                $.ajax({
                    url: $(this).data("edit-question"),
                    success: function (data) {
                        $("#edit-question-modal-content").html(data);
                    }
                });
            });
        })
    </script>


}
else
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 s-padding text-center">
            <h3>No questions in this quiz!</h3>
            <p>Use the <b>Actions</b> dropdown to add one</p>
        </div>
    </div>
}

